<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%# bnygv43ntuh9bnp %>
 
    <title>Resume</title>
</head>
<body>
    <ul class="switch-pages">
        <li><a class="switch-pages-item" href="<%= labs_lab3_path(@lab3)%>">lab3</a></li>
    </ul>

    <%# заголовок лабораторної %>
    <div class="lab-info">
        <p class="lab-header">Ничик Богдан, група ІП-20-1, варіант:??</p>
        <p class="lab-number">Лабораторна робота №4</p>
        <p class="lab-theme">тема: "HTML, CSS. Бібліотеки та фреймворки"</p>
    </div>

    

    <%# резюме %>
    <table class="table table-sm">
            <caption class="table caption-top">Resume</caption>
            <thead class="table-head">
                <tr class="bg-warning">
                    <th>Element</th>
                    <th>Description</th>
                </tr>
            </thead>
            
            <tbody class="table-body">
                <tr class="table-content">
                    <td class="element">Name</td>
                    <td class="value">Bohdan Nychyk</td>
                </tr>
                
                <tr class="table-content">
                    <td class="element">Email</td>
                    <td class="value">nychyk.b@gmail.com</td>
                </tr>
                
                <tr class="table-content">
                    <td class="element">Phone number</td>
                    <td class="value">+380686808321</td>
                </tr>

                <tr class="table-content">
                    <td class="element">Residence</td>
                    <td class="value">Ivano-Frankivsk</td>
                </tr>

                <tr class="table-content">
                    <td class="element">Links</td>
                    <td class="value">linkedin.com</td>
                </tr>

                <tr class="table-content">
                    <td class="element">Profile</td>
                    <td class="value">Dolore dolore sit sit esse sunt labore adipisicing Lorem reprehenderit. Anim magna qui veniam adipisicing duis eu ex occaecat. Dolor reprehenderit aliquip magna non ut ut.</td>
                </tr>

                <tr class="table-content">
                    <td class="element">Technical skills</td>
                    <td class="value">
                        <ul>
                            <li>Ex elit excepteur occaecat non labore</li>
                            <li>Ex elit excepteur occaecat non labore</li>
                            <li>Ex elit excepteur occaecat non labore</li>
                            <li>Ex elit excepteur occaecat non labore</li>
                            <li>Ex elit excepteur occaecat non labore </li>
                            <li>Ex elit excepteur occaecat non labore</li>
                        </ul>
                    </td>
                </tr>

                <tr class="table-content">
                    <td class="element">Tools</td>
                    <td class="value">
                        <ul>
                            <li>Ex elit excepteur occaecat non labore</li>
                            <li>Ex elit excepteur occaecat non labore</li>
                            <li>Ex elit excepteur occaecat non labore</li>
                            <li>Ex elit excepteur occaecat non labore</li>
                            <li>Ex elit excepteur occaecat non labore</li>
                        </ul>
                    </td>
                </tr>

                <tr class="table-content">
                    <td class="element">Education</td>
                    <td class="value">IVANO-FRANKIVSK NATIONAL TECHICAL UNIVERSITY OF OIL AND GAS</td>
                </tr>

                <tr class="table-content">
                    <td class="element">Experience</td>
                    <td class="value">Dolore dolore sit sit esse sunt labore adipisicing Lorem reprehenderit. Anim magna qui veniam adipisicing duis eu ex occaecat. Dolor reprehenderit aliquip magna non ut ut.</td>
                </tr>

                <tr class="table-content">
                    <td class="element">Languages</td>
                    <td class="value">English (Intermediate)</td>
                </tr>
            </tbody>
            
        </table>
    
</body>